#jsDom
    padding: 90px 0
    .box
        width: 23%
        height: auto
        flex-direction: column
        background-color: #9c6644
        border-radius: 25px
        .textbox
            font-size: 40px
            font-weight: 700
            color: #ffffff
            margin: 20px 0
        .add
            input
                padding: 15px 20px
                border-radius: 20px
        .btn
            padding: 6px 25px
            background-color: #ffffff
            margin: 27px 0
            border-radius: 20px
    .minibox
        h2
            width: auto
            border: 1px solid #000000
            padding: 10px 40px
            border-radius: 20px
            margin-top: 30px
